.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;

  &__prev, &__next, &__page {
    width: 25px;
    height: 25px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $black;
    transition: 0.5s;
    border-bottom: 1px solid transparent;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $black;
    }

    &-no-active {
      opacity: 0.5;
      &:hover {
        background-color: transparent;
        color: inherit;
        border: none;
        border-bottom: 1px solid transparent;
        &:before {
          color: inherit;
        }
      }
    }
  }

  &__prev {
    &:before {
      content: '\2039';
      color: $black;
      padding-bottom: 5px;
      font-size: 25px;
    }
  }
  &__next {
    &:before {
      content: '\203A';
      color: $black;
      padding-bottom: 5px;
      font-size: 25px;
    }

  }
  &__page {
    font-size: 16px;
    &-active {
      border-bottom: 1px solid $black;
    }
  }
}