<div class="hamburger-menu">
    <div class="responsive-nav">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="nav-menu">
        <div class="responsive-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="main-menu">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Создание ИМ</a></li>
            <li><a href="#">Контекстная реклама</a></li>
            <li><a href="#">SEO-продвижение</a></li>
            <li><a href="#">SMM</a></li>
            <li class="current_page"><a href="#">Блог</a></li>
        </ul>
    </nav>
</div>