<div class="hamburger-menu">
    <div class="responsive-nav">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <nav class="nav-menu">
        <div class="responsive-nav">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <ul class="main-menu">
            <li><a href="index.html">Главная</a></li>
            <li><a href="sozdanie-saitov.html">Создание сайтов</a></li>
            <li><a href="internet-magaziny.html">Создание интернет-магазинов</a></li>
            <li><a href="kontekstnaya-reklama.html">Контекстная реклама</a></li>
            <li><a href="seo.html">SEO-продвижение</a></li>
            <li><a href="smm.html">SMM</a></li>
            <li class="current_page"><a href="blog.html">Блог</a></li>
        </ul>
    </nav>
</div>